<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{style.name}}</h1>
    <div class="avatar">
        <!-- <img src="{{style.avatar.url }}" alt="{{ style.name }}" id="avatar"> -->
        <div id="avatar3d"></div>
    </div>
    <div class="chat-box">
        <div id="messages"></div>
        <input type="text" placeholder="Ask something..." id="userInput">
        <button onclick="sendMessage()">Send</button>
    </div>
    <br>
    <a href="{% url 'select_style' %}">Go Back</a>
</body>

{% csrf_token %}

<script>
    let head = null;
    async function sendMessage() {
        const input = document.getElementById("userInput");
        const message = input.value;
        setAvatarState("thinking");

        if (!message) return;

        const messagesDiv = document.getElementById("messages");
        messagesDiv.innerHTML += "<p><b>You: </b>" + message + "</p>";
        input.value = "";

        const response = await fetch("/ask/{{ style.id }}/", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}"
            },
            body: JSON.stringify({ message: message })
        });
        const data = await response.json();
        if (!response.ok) {
            messagesDiv.innerHTML += "<p style='color: red;'><b>Error:</b>" + data.error + "</p>"
            return;
        }
        // messagesDiv.innerHTML += "<p><b>{{ style.name }}: </b>" + data.answer + "</p>";
        messagesDiv.innerHTML += `
        <p>
        <b>{{style.name}}</b> ${data.answer}
        <button class="speak-btn">Speak</button>
        </p>
        `;
        const buttons = document.querySelectorAll(".speak-btn");
        const lastButton = buttons[buttons.length - 1];
        lastButton.onclick = () => speak(data.answer);
        // <button onclick="speak('${data.answer}')">Speak</button>
        // const audio = new Audio("data:audio/mp3;base64," + data.audio);
        // audio.play();
        setAvatarState("speaking");
        setTimeout(() => setAvatarState("idle"), 1000);
    }
    function setAvatarState(state){
        // const avatar = document.getElementById("avatar");
        // if (state=== "thinking"){
        //     avatar.style.filter = "grayscale(100%)";
        // }
        // else if (state === "speaking"){
        //     avatar.style.filter = "brightness(120%)";
        // }
        // else{
        //     avatar.style.filter = "none";
        // }
        if (!head) return;
        if (state === "thinking"){
            head.rotation.y += 0.1;
        }
    }
    async function speak(text){
        const response = await fetch("/speak/", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({text:text})
        })
        const data = await response.json();
        const audio = new Audio("data:audio/mp3;base64," + data.audio);
        audio.play();
    }
</script>
<script type="module">
    import * as THREE from 'https://unpkg.com/three@0.158.0/build/three.module.js';
    import { GLTFLoader } from 'https://unpkg.com/three@0.158.0/examples/jsm/loaders/GLTFLoader.js?module';

    const container = document.getElementById("avatar3d");
    const scene = new THREE.Scene();
    const camera = new THREE.PerspectiveCamera(
        35,
        300/300,
        0.1,
        1000
    );
    camera.position.z = 2;
    const renderer = new THREE.WebGLRenderer({alpha:true});
    renderer.setSize(300,300);
    container.appendChild(renderer.domElement);

    const light = new THREE.DirectionalLight(0xffffff, 1);
    light.position.set(1,1,2);
    scene.add(light);

    const ambient = new THREE.AmbientLight(0xffffff, 0.5);
    scene.add(ambient);

    // const geometry = new THREE.SphereGeometry(0.5,32,32);
    // const material = new THREE.MeshStandardMaterial({color:0x44aa88});
    // const head = new THREE.Mesh(geometry, material);
    // scene.add(head);
    head=gltf.scene;
    const loader = new GLTFLoader();
    loader.load(
        "/static/models/laura-in-bloom/source/model.glb",
        function(gltf){
            head = gltf.scene;
            head.traverse((child) => {
                if (child.isMesh) {
                    child.material = new THREE.MeshStandardMaterial({
                        map: child.material.map || null
                    });
                }
            })
            head.scale.set(0.9, 0.9, 0.9);
            head.position.y = -0.5;
            scene.add(head);
        },
        undefined,
        function(error){
            console.error("Model load error", error);
        }
    )
    let time=0;

    function animate(){
        requestAnimationFrame(animate);
        if (head){
            time+=0.02
            head.rotation.y = Math.sin(time) * 0.3;
            head.rotation.x = Math.sin(time * 0.7) * 0.1;
        }
        
        renderer.render(scene,camera);
    }
    animate();
</script>

<style>
    body{
        text-align: center;
        background: #f4f4f4;
    }
    .avatar{
        margin-top: 30px;
    }
    img{
        width: 200px;
        border-radius: 50%;
    }
    .chat-box{
        margin-top: 30px;
    }
    input{
        padding: 10px;
        width: 300px;
    }
    button{
        padding: 10px;
    }
    #avatar3d{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
</style>
</html>